<form method="post">
    {% csrf_token %}
    <input type="email" name="username" id="login-email" placeholder="Email">
    <input type="password" name="password1" id="login-password1" placeholder="Пароль">
    <input type="password" name="password2" id="login-password2" placeholder="Підтвердження пароля">

    <input type="radio" name="role" id="role-EMP" value="EMP">
    <label for="role-EMP">I'm recruiter</label>

    <input type="radio" name="role" id="role-CAN" value="CAN">
    <label for="role-CAN">I'm candidat</label>

    <div class="error">
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                {{ error }}<br>
            {% endfor %}
        {% endfor %}
    </div>

    <input type="submit" value="Register">
</form>
<a href="{% url 'user_auth:user-login' %}">I have an account</a>
