{% extends "base/base.html" %}
{% load static %}

{% block main_content %}
    <head>
        <link rel="stylesheet" href="{% static 'user_auth/css/style.css' %}">
    </head>

    <div class="form_view">
        <div class="form_header">
            Career Quest
        </div>
        <form method="post" class="auth_form">
            {% csrf_token %}
            <input type="password" name="password1" id="login-password1" placeholder="Password">
            <input type="password" name="password2" id="login-password2" placeholder="Confirm password">

            <div class="auth_error">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <div class="error_message">{{ error }}</div>
                    {% endfor %}
                {% endfor %}
            </div>

            <input type="submit" class="default_btn" value="Reset">
        </form>

    </div>

    <script src="{% static 'user_auth/js/index.js' %}"></script>
{% endblock %}