{% extends "base/base.html" %}
{% load static %}

{% block main_content %}
    <head>
        <link rel="stylesheet" href="{% static 'vacancy/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'user_profile/css/style.css' %}">
    </head>

    <form method="post" class="default_form">
        {% csrf_token %}
        <input type="number" value="{{ user.id }}" name="employer_id" style="display: none">

        <table class="form_table">
            <tr>
                <td><label for="position_id">Title</label></td>
                <td><input class="default_field" type="text" name="title" id="title_id"></td>
            </tr>
            <tr>
                <td><label for="text_id">Description</label></td>
                <td><textarea class="default_field" type="text" name="text" id="text_id"></textarea></td>
            </tr>
            <tr>
                <td><label for="position_id">Requirements</label></td>
                <td><textarea class="default_field" type="text" name="requirements" id="requirements_id"></textarea>
                </td>
            </tr>
            <tr>
                <td><label for="position_id">Country</label></td>
                <td>
                    <select name="country" class="default_field" id="country_id">
                        {% if user_country_id == '' %}
                            <option selected>---------</option>
                        {% endif %}

                        {% for country in country_list %}
                            {% if user_country_id == country.pk %}
                                <option value="{{ country.pk }}" selected>{{ country.name }}</option>
                            {% else %}
                                <option value="{{ country.pk }}">{{ country.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="employment_rate_id">Employment rate</label></td>
                <td>
                    <select class="default_field" name="employment_rate" id="employment_rate_id">
                        {% if user_employment_rate == '' %}
                            <option selected>---------</option>
                        {% endif %}

                        {% for employment_rate in employment_rate_list %}
                            {% if user_employment_rate == employment_rate.1 %}
                                <option value="{{ employment_rate.0 }}" selected>{{ employment_rate.1 }}</option>
                            {% else %}
                                <option value="{{ employment_rate.0 }}">{{ employment_rate.1 }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="month_salary_id">Month salary</label></td>
                <td><input class="default_field" type="number" name="month_salary" id="month_salary_id"></td>
            </tr>
            <tr>
                <td><label for="hour_salary_id">Hour salary</label></td>
                <td><input class="default_field" type="number" name="hour_salary" id="hour_salary_id"></td>
            </tr>
            <tr>
                <td><label for="experience_id">Experience</label></td>
                <td>

                    <input type="range" name="experience" id="experience_id" min="0" max="9" value="0"
                           list="experience_markers">

                    <div class="range_value">
                        <span class="range_value">No experience</span>
                        <datalist id="experience_markers">
                            <option value="0">No experience</option>
                            <option value="1">6 month</option>
                            <option value="2">1 year</option>
                            <option value="3">1.5 - 2 years</option>
                            <option value="4">3 - 4 years</option>
                            <option value="5">4 - 5 years</option>
                            <option value="6">6 - 7 years</option>
                            <option value="7">8 - 9 years</option>
                            <option value="8">10 years</option>
                            <option value="9">10+ year</option>
                        </datalist>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label for="english_level_id">English level</label></td>
                <td>
                    <select class="default_field" name="english_level" id="english_level_id">
                        {% if user_english_level == '' %}
                            <option selected>---------</option>
                        {% endif %}

                        {% for english_level in english_level_list %}
                            {% if user_english_level == english_level.1 %}
                                <option value="{{ english_level.0 }}" selected>{{ english_level.1 }}</option>
                            {% else %}
                                <option value="{{ english_level.0 }}">{{ english_level.1 }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="work_category_id">Work category</label></td>
                <td>
                    <select name="work_category" class="default_field" id="work_category_id">
                        {% if user_work_category_id == '' %}
                            <option selected>---------</option>
                        {% endif %}

                        {% for work_type in work_type_list %}
                            <optgroup label="{{ work_type.name }}">
                                {% for work_category in work_category_list %}
                                    {% if work_category.work_type.pk == work_type.pk %}
                                        {% if user_work_category_id == work_category.pk %}
                                            <option value="{{ work_category.pk }}"
                                                    selected>{{ work_category.name }}</option>
                                        {% else %}
                                            <option value="{{ work_category.pk }}">{{ work_category.name }}</option>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </optgroup>
                        {% endfor %}
                    </select>
                </td>
            </tr>


            <div class="error">
                <div class="error">
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            {{ field }} {{ error }}<br>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <tr>
                <td>
                    <input type="submit" class="default_btn" value="Save">
                    <br><br>
                    <a href="{% url 'user_profile:remove-my-profile' %}" class="default_url">Create vacancy</a>
                </td>
                <td></td>
            </tr>
        </table>
    </form>

    <script src="{% static 'user_profile/js/profile.js' %}"></script>
{% endblock %}
