{% load static %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <label for="position_id">Email</label>
    <input type="text" name="work_email" id="position_id">

    <label for="position_id">Skype</label>
    <input type="text" name="skype" id="position_id">

    <label for="position_id">Phone</label>
    <input type="text" name="phone" id="position_id">

    <label for="position_id">Telegram</label>
    <input type="text" name="telegram" id="position_id">

    <label for="position_id">LinkedIn</label>
    <input type="text" name="linkedin_url" id="position_id">

    <label for="position_id">GitHub url</label>
    <input type="text" name="github_url" id="position_id">

    <label for="position_id">Protfolio url</label>
    <input type="text" name="portfolio_url" id="position_id">

    <label for="position_id">CV</label>
    <input type="file" name="cv_file" id="position_id">

    <label for="position_id">Avatar</label>
    <input type="file" name="avatar_img" id="position_id">

    <div class="error">
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                {{ field }} {{ error }}<br>
            {% endfor %}
        {% endfor %}
    </div>

    <input type="submit" value="Save">

</form>