{% load static %}
<script src="{% static 'jquery-3.6.3.min.js' %}"></script>

<form method="post">
    {% csrf_token %}

    <label for="position_id">Position</label>
    <input type="text" name="position" id="position_id">

    <label for="month_salary_id">Month salary</label>
    <input type="text" name="month_salary" id="month_salary_id">

    <label for="hour_salary_id">Hour salary</label>
    <input type="text" name="hour_salary" id="hour_salary_id">

    <label for="experience_id">Experience</label>
    <input type="range" name="experience" id="experience_id" min="0" max="9" value="0" list="experience_markers">
    <span class="range_value">No experience</span>
    <datalist id="experience_markers">
        <option value="0">No experience</option>
        <option value="1">6 month</option>
        <option value="2">1 year</option>
        <option value="3">1.5 - 2 years</option>
        <option value="4">3 - 4 years</option>
        <option value="5">4 - 5 years</option>
        <option value="6">6 - 7 years</option>
        <option value="7">8 - 9 years</option>
        <option value="8">10 years</option>
        <option value="9">10+ year</option>
    </datalist>



    <label for="country_id">Country</label>
    <select name="country" id="country_id">
        {% for country in country_list %}
            <option value="{{ country.pk }}">{{ country.name }}</option>
        {% endfor %}
    </select>

    <input type="checkbox" name="is_ready_to_relocate_country" id="is_ready_to_relocate_country_id" value='true'>
    <label for="is_ready_to_relocate_country_id">I'm ready to relocate in other country</label>

    <label for="skills_id">Stack of used technologies</label>
    <textarea type="" name="skills" id="skills_id" cols="30" rows="10"></textarea>

    <label for="work_category_id">Work category</label>
    <select name="work_category" id="work_category_id">
        {% for work_type in work_type_list %}
            <optgroup label="{{ work_type.name }}">
            {% for work_category in work_category_list %}
                {% if work_category.work_type.pk == work_type.pk %}
                    <option value="{{ work_category.pk }}">{{ work_category.name }}</option>
                {% endif %}
            {% endfor %}
            </optgroup>
        {% endfor %}
    </select>

    <label for="english_level_id">English level</label>
    <select name="english_level" id="english_level_id">
        {% for english_level in english_level_list %}
            <option value="{{ english_level.0 }}">{{ english_level.1 }}</option>
        {% endfor %}
    </select>

    <label for="employment_rate_id">Employment rate</label>
    <select name="employment_rate" id="employment_rate_id">
        {% for employment_rate in employment_rate_list %}
            <option value="{{ employment_rate.0 }}">{{ employment_rate.1 }}</option>
        {% endfor %}
    </select>

    <label for="about_work_experience_id">My work experience</label>
    <textarea name="about_work_experience" id="about_work_experience_id" cols="30" rows="10"></textarea>

    <label for="about_work_expectations_id">My work expectations</label>
    <textarea name="about_work_expectations" id="about_work_expectations_id" cols="30" rows="10"></textarea>

    <label for="fav_contact_method_id">To contact with me use</label>
    <select name="fav_contact_method" id="fav_contact_method_id">
        {% for fav_contact_method in fav_contact_method_list %}
            <option value="{{ fav_contact_method.pk }}">{{ fav_contact_method.name }}</option>
        {% endfor %}
    </select>


    <div class="error">
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                {{ field }} {{ error }}<br>
            {% endfor %}
        {% endfor %}
    </div>

    <input type="submit" value="Save">
</form>

<a href="#">Remove profile</a>

<form action="{% url 'user_profile:remove-my-profile' %}" method="post">
    {% csrf_token %}
    Your profile will delete. Are you sure?
    <input type="submit" name="" id="" value="Yes">
    <input type="button" name="" id="" value="Cancel">
</form>

<script src="{% static 'user_profile/js/profile.js' %}"></script>